.article {
    margin-block: 40px;
}

.article-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    border-radius: 5px;
    border: 1px solid #e2e2e2;
    background: #fff;
    box-shadow: 0px 5px 4px 0px rgba(221, 221, 221, 0.25);
}

.article-info {
    padding: 42px 52px;
}

.article-title {
    color: #2d3748;
    font-family: Inter;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 27px;
}



.article-img {
    max-width: 433px;
    width: 100%;
}

.article-img img {
    display: block;
    width: 100%;
}
